.container {
    margin: auto;
    /*max-width: 500px;*/
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    /*font-weight: 500;*/
    font-style: normal;
  }
  
.heading {
    color: #173042;
    /*color: #236477;*/
    /*color: #cfdfda;*/
    /*color: #7cad3e;*/
    /*color: #4a6c2f;*/
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: #cfdfda;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: larger;
}
.site-title {
    font-size: 3rem;
    color: #4a6c2f;
    font-weight: 700;
    position: relative;
    /*margin: 3rem 0;*/
    font-family: "Epilogue", sans-serif;
  }

h1, h2, h3, h4, h5, h6{
    font-family: "Epilogue", sans-serif;
}
p, a{
    font-family: "Sora", sans-serif;
}
nav {
    position: relative;
    padding: 25px;
    /*height: 50px;*/
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #4a6c2f;
}

header{
    position: fixed;
    padding: 15px;
}

body{
    position: relative;
    background-color: #cfdfda;
    margin-bottom:50px;
    margin-top: 50px;
}

footer{
    position: relative;
    padding: 25px;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: #cfdfda;
    background-color: #4a6c2f;
}